<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Digit Recognition AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://kit.fontawesome.com/d6857f088c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Courgette&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <ul>
            <li><a href="https://github.com/Luca-Mitchell/Digit-Recognition-AI" id="github"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="#AI-section" class="emphasised">TRY IT OUT</a></li>
            <li><a href="#how-it-works-section">How It Works</a></li>
            <li><a href="https://luca-mitchell.github.io">My Website</a></li>
        </ul>
    </nav>

    <header class="section">
        <div>
            <div id="header-grid">
                <div id="header-text">
                    <h1>MNIST Digit Recognition Neural Network</h1>
                    <ul>
                        <li>> Recognises handwritten numbers</li>
                        <li>> You can download the MNIST dataset I used by clicking <a href="{{ url_for('static', filename='mnist.zip') }}" download="mnist">here</a></li>
                        <li>> No ML libraries, just Pandas, Numpy, and maths</li>
                    </ul>
                </div>
                <div id="header-graphic">
                    <img src="{{ url_for('static', filename='headergraphic.svg') }}" alt="">
                </div>
            </div>
        </div>
    </header>

    <section id="AI-section" class="section">
        <div id="data-section">
            <div id="parameters" class="grid-box">
                <label for="learning-rate" class="label">Learning Rate:</label><br>
                <input type="number" id="learning-rate" name="alpha" class="input"><br>
                
                <label for="iterations" class="label">Iterations:</label><br>
                <input type="number" id="iterations" name="i" class="input"><br>

                <button class="button" id="gen-params-button">Generate Parameters</button>

            </div>     
            <div id="generation-data" class="grid-box">
                <canvas id="graph"></canvas>
            </div>
            <div id="prediction-data" class="grid-box">
                <ul>
                    <li id="alpha-info">Learning rate:</li>
                    <li id="iterations-info">Iterations:</li>
                    <li id="train-accuracy">Training data accuracy:</li>
                    <li id="test-accuracy">Testing data accuracy:</li>
                    <li id="predicted"></li>
                    <li id="confidence"></li>
                    <li id="actual"></li>
                </ul>
            </div>
        </div>
        <div id="image-section">
            <div id="image" class="grid-box"></div>
            <div id="select-image" class="grid-box">
                <div id="select-image-buttons">
                    <button class="button cycle-image-button" id="prev-image-button">Previous Image</button>
                    <button class="button cycle-image-button"  id="next-image-button">Next Image</button>
                </div>
            </div>
        </div>
    </section>

    <script>
        let accuracyGraph

        let data = {
            labels: [],
            datasets: [
                {
                    label: "Training Data",
                    data: [],
                    pointRadius: 0,
                },
                {
                    label: "Testing Data",
                    data: [],
                    pointRadius: 0,
                }
            ]
        }

        const config = {
            type: 'line',
            data: data,
            options: {
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Iteration'
                        }
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Accuracy (%)'
                        }
                    }
                }
            }
        }

        window.onload = function() {
            accuracyGraph = new Chart(document.getElementById('graph'), config);
        }
    </script>

    <script>
        const grid = document.getElementById("image");
        const genParamsButton = document.getElementById("gen-params-button")
    
        function updateText(id, text) {
            el = document.getElementById(id)
            el.textContent = text
        }

        function drawImage(pixels) {
            grid.innerHTML = ""
            for (let i = 0; i < pixels.length; i++) {
                let opacity = pixels[i]
                let pixel = document.createElement("div")
                pixel.style.background = `rgba(255, 255, 255, ${opacity})`
                grid.appendChild(pixel)
            }
        }
    
        async function updateImageData() {
            let predictionDataResponse = await fetch("/getPredictionData")
            let predicitonDataJSON = await predictionDataResponse.json()

            updateText("predicted", `Predicted: ${predicitonDataJSON.predicted}`)
            updateText("confidence", `Confidence: ${predicitonDataJSON.confidence}%`)
            updateText("actual", `Actual: ${predicitonDataJSON.actual}`)

            let pixelsResponse = await fetch("/getPixelsAsJSON")
            let pixelsJSON = await pixelsResponse.json()
            let pixels = pixelsJSON.pixels

            drawImage(pixels);
        }

        async function plotAccuracyGraph() {
            let accuracyDataResponse = await fetch("/genParams")
            let accuracyDataJSON = await accuracyDataResponse.json()

            let test = accuracyDataJSON.test
            let train = accuracyDataJSON.train
            let iterations = accuracyDataJSON.iterations

            data.labels = iterations
            data.datasets[0].data = train
            data.datasets[1].data = test

            accuracyGraph.update()
            updateText("train-accuracy", `Training data accuracy: ${train[train.length-1]}%`)
            updateText("test-accuracy", `Testing data accuracy: ${test[test.length-1]}%`)
        }
    
        document.getElementById("prev-image-button").addEventListener("click", async function (event) {
            event.preventDefault();
            await fetch("/prev", {method: "POST",})
            updateImageData()
        });
    
        document.getElementById("next-image-button").addEventListener("click", async function (event) {
            event.preventDefault();
            await fetch("/next", {method: "POST",})
            updateImageData()
        });

        genParamsButton.addEventListener("click", async function (event) {
            event.preventDefault()

            let iterations = parseFloat( document.getElementById('iterations').value)
            let alpha = parseFloat(document.getElementById('learning-rate').value)

            // iterations - non zero positive integer
            // alpha - non zero positive number

            if (isNaN(iterations) || !Number.isInteger(iterations) || iterations <= 0 || isNaN(alpha) || alpha <= 0) {
                alert(`For learning rate, enter a NON-ZERO POSITIVE NUMBER, e.g. 0.1.
For iterations, enter a NON-ZERO POSITIVE INTEGER, e.g. 100.`)
            }
            else {
                genParamsButton.textContent = "Generating (this may take a while)"
                genParamsButton.disabled = true

                await fetch("/setLearningParams", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "iterations": iterations,
                        "alpha": alpha,
                    })})

                await plotAccuracyGraph()

                updateText("alpha-info", `Learning rate: ${alpha}`)
                updateText("iterations-info", `Iterations: ${parseInt(iterations)}`)

                genParamsButton.textContent = "Generate Parameters"
                genParamsButton.disabled = false
            }   
        })
    
        document.addEventListener("DOMContentLoaded", updateImageData)
    </script>
    
</body>
</html>